.container-flex{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-bg{
    display: inline-block;
    background-color: var(--main-color-dark);
    width: 100%;
    height: 270px;
    border-bottom: 20px solid var(--tangerine);
}

.body-bg  {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    
    .bg-left {
        background-image: url('/assets/img/bg_left.svg');
        background-repeat: repeat-x;
        background-size: 251px;
        height: 300px;
        background-position-x: right;
        background-position-y: -10px;
        min-width: 360px;
    }

    .bg-center {
        background-image: url('/assets/img/bg_center.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -10px;
        background-size: 1291px;
        min-width: 1291px;
        height: calc(100vh - 370px);
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width:300px;
            position: absolute;
            top: 160px;
            background-color: #fff;
            border-radius: 5px;
            height: 200px;
        }
    }  

    .bg-right {
        background-image: url('/assets/img/bg_right.svg');
        background-repeat: repeat-x;
        background-position-x: left;
        background-position-y: -10px;
        background-size: 279px;
        height: 300px;
        min-width: 360px;
        position: relative;
        left: -15px;
    }      
}


footer{
    margin: 40px 0px 20px 55px;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 300;

    img {
        width: 70px;
        height: 17px;
    }

    .copyright {
        padding-left: 15px;
    }

    // Telas pequenas
    @media (max-width: 479px) {
        margin: 20px auto 20px auto;
        padding: 0px 20px 0px 20px;
    }         

}


.form-auth{
    margin: 0 auto;
    top: 100px;
    margin-left: calc(50% - 150px);
    position: absolute;
    flex: 1;

    @media (max-width: 479px) {
        top: 60px;
    }       
}

:host /deep/ .auth0-lock-input {
    margin: 0px !important;
    border-bottom: none !important;
}

:host /deep/ .auth0-lock.auth0-lock .auth0-lock-header{
    height: auto !important;
}

:host /deep/ .auth0-lock.auth0-lock{
    font-family: 'Roboto', sans-serif;
}

:host /deep/  input[type=text]:focus:not([readonly]),
:host /deep/  input[type=password]:focus:not([readonly]){
    border-bottom: none !important;
    box-shadow: none !important;
}

:host /deep/ .auth0-lock.auth0-lock .auth0-lock-header-logo{
    height: 100% !important;
    width: 150px;
}

:host /deep/ .auth0-lock.auth0-lock .auth0-lock-header-bg{
    height: auto !important;
}

:host /deep/ .auth0-lock.auth0-lock .auth0-global-message.auth0-global-message-success {
    background-color: #ff9800;
}