<div class="container-flex">
  <div class="header-bg"></div>

  <login-auth0 class="form-auth" [authEnv]='environment' (onThen)='onThen()'></login-auth0>
  <div class="body-bg">
    <div class="bg-left"></div>

    <div class="bg-center">
      <div class="loader-container" *ngIf="spinnerShow">
        <mdl-spinner single-color active></mdl-spinner>
      </div>
    </div>

    <div class="bg-right"></div>
  </div>


  <footer class="align-botton">
    <img alt="Logos Educaçao" title="Logos Educação" src="assets/img/logos-azul.png">
    <span class="copyright">Copyright © 2016 • Lógos Educação - Versão 2.0</span>
  </footer>
</div>