<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer ">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="icon"> <img src="/assets/img/icon_diario.svg"> </div>
            <span class="mdl-layout-title mdl-cell--hide-phone">Minha conta</span>
            <div class="mdl-layout-spacer"></div>
            <app-user-header></app-user-header>
        </div>
    </header>
    <div class="progress" *ngIf="pageIsLoading">
        <div class="indeterminate"></div>
    </div>
    <router-outlet></router-outlet>
</div>