<div id="app-layout-header" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    <!-- PAGE HEADER-->
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Servidores</span>
            <div class="mdl-layout-spacer"></div>
            <app-user-header></app-user-header>
        </div>
    </header>
    <div class="progress page-loader" *ngIf="loading">
        <div class="indeterminate"></div>
    </div>
    <!--SIDE BAR DRAWER-->
    <div class="mdl-layout__drawer container-box next-class">
        <div class="flex-box drawer-heading">
            <!--<h5 class="heading-light">tmc</h5>-->
        </div>
        <div>
            <div>
                <ul class="highlighted-list">
                    <li class="active">
                        <h5>Cadastrar Servidor</h5>
                    </li>
                    <li>
                        <h5>Modulação</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div>