input {
    height: inherit;
}

.table {
    display: flex;
    @media (max-width: 479px) {
        display: block;
    }
}

tbody {
    width: 100%;
    display: table;
}

.same-line{
    width: 70%;
}

td, th {
    padding: 5px 5px;
}