<div class="mdl-cell mdl-cell--12-col card-box bg-white">
  <h5>Modulação</h5>
  <p>A Modulação do servidor cadastrado já pode ser realizada no sistema.</p>
  <div class="table">
    <tr>
      <td style="display: inline;">
        <label style="padding: 10px;">Função atual</label>
        <div class='select'>
          <select materialize="material_select" [materializeSelectOptions]="selectOptions">
              <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <label>Carga horária semanal</label>
        <input style="width: 20px;" type="text">H
      </td>
    </tr>
    <tr>
      <td style="display: inline;">
        <label style="padding: 10px;">Lotação</label>
        <div class='select'>
          <select materialize="material_select" [materializeSelectOptions]="selectOptions">
              <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>Data de inicio</label>
        <input type="text">
      </td>
      <td>
        <label>Data de término</label>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button style="float: right;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Cadastrar
        </button>
      </td>
    </tr>
  </div>
</div>
